.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden { display: none; }

/* line 3, ../sass/modal-quick-tips.scss */
.mycal-sr-only {
  position: absolute;
  top: auto;
  left: auto;
  text-indent: -9999em;
  overflow: hidden;
}

/* line 8, ../sass/modal-quick-tips.scss */
dialog {
  display: block;
  border: 0;
}

/* line 14, ../sass/modal-quick-tips.scss */
.no-scroll {
  overflow: hidden;
}

/* line 20, ../sass/modal-quick-tips.scss */
.js-modal,
.js-tooltip {
  display: inline;
  background: none;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 35, ../sass/modal-quick-tips.scss */
.mycal-main-content .quicktip-text,
.mycal-main-content .js-tooltip {
  color: #00659e;
  border-bottom: 1px dashed #00659e;
  cursor: help;
  text-shadow: none !important;
  background-image: none !important;
}
/* line 43, ../sass/modal-quick-tips.scss */
.mycal-main-content .quicktip-text:focus, .mycal-main-content .quicktip-text:hover,
.mycal-main-content .js-tooltip:focus,
.mycal-main-content .js-tooltip:hover {
  border-bottom-color: transparent !important;
}

/* line 54, ../sass/modal-quick-tips.scss */
.mycal-modal-overlay,
.mycal-tooltip-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 599;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* line 66, ../sass/modal-quick-tips.scss */
.mycal-animated-modal-overlay {
  animation: animation_fade ease .5s 1 normal;
}

/* line 70, ../sass/modal-quick-tips.scss */
.mycal-modal-overlay[data-background-click="disabled"],
.mycal-animated-modal-overlay[data-background-click="disabled"],
.mycal-tooltip-modal-overlay[data-background-click="disabled"] {
  cursor: auto;
}

/* line 77, ../sass/modal-quick-tips.scss */
.mycal-modal {
  position: fixed;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 30em;
  max-width: 100%;
  background: #fff;
  z-index: 600;
  overflow: auto;
}
@media only screen and (min-width: 800px) {
  /* line 77, ../sass/modal-quick-tips.scss */
  .mycal-modal {
    display: block;
    left: 50%;
    margin-left: -15em;
    top: 15%;
    bottom: auto;
    max-height: 70vh;
  }
}

/* line 104, ../sass/modal-quick-tips.scss */
.mycal-modal-close, .mycal-tooltip-modal-close {
  float: right;
  border: 0;
  padding: 10.4347826087px 13.8px;
  margin: 15.6914024191px 13.8px;
  color: #fff;
  background: none;
  cursor: pointer;
  font-size: 13.9130434783px;
  line-height: 20.8695652174px;
}
/* line 115, ../sass/modal-quick-tips.scss */
.mycal-modal-close:focus, .mycal-modal-close.focus, .mycal-modal-close.mycal-button-focus,
.mycal-tooltip-modal-close:focus, .mycal-tooltip-modal-close.focus, .mycal-tooltip-modal-close.mycal-button-focus {
  outline: 2px solid #fff;
  outline-offset: 0px;
  z-index: 1000 !important;
}
/* line 121, ../sass/modal-quick-tips.scss */
.mycal-modal-close:hover, .mycal-modal-close:active,
.mycal-tooltip-modal-close:hover, .mycal-tooltip-modal-close:active {
  color: #fff;
  background: #00659e;
}

/* line 128, ../sass/modal-quick-tips.scss */
.mycal-modal-title, .mycal-tooltip-modal-title {
  padding: 20.8695652174px 27.6px;
  padding-right: 3.5em;
  color: #fff;
  background: #00659e;
  font-weight: 500;
  font-size: 24.334px;
  line-height: 31.74px;
}
/* line 196, ../sass/modal-quick-tips.scss */
.mycal-container {
  position: relative;
}

/* line 200, ../sass/modal-quick-tips.scss */
.mycal-tooltip {
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 667;
  position: fixed;
  width: 25rem;
  max-width: 100%;
  font-size: 1em;
  border: 0;
  border-radius: 0;
  background: #f6f6f6;
  /* fallback IE9 */
  box-shadow: -5px 0 0 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
  text-align: left !important;
}
@media only screen and (min-width: 25rem) {
  /* line 200, ../sass/modal-quick-tips.scss */
  .mycal-tooltip {
    border-left: 1px solid #ccc;
  }
}

/* line 226, ../sass/modal-quick-tips.scss */
.mycal-tooltip__title {
  padding: 20.8695652174px 27.6px;
  padding-right: 3.5em;
  font-size: 21.16px;
  line-height: 31.74px;
  color: #fff;
  font-weight: 600;
  background: #00659e;
}

/* line 240, ../sass/modal-quick-tips.scss */
.mycal-tooltip__close {
  float: right;
  padding: 10.4347826087px 13.8px;
  margin: 15.6914024191px 13.8px;
  border: 0;
  font-size: 13.9130434783px;
  line-height: 20.8695652174px;
  background: none;
  color: #fff;
}
/* line 250, ../sass/modal-quick-tips.scss */
.mycal-tooltip__close:focus, .mycal-tooltip__close.focus, .mycal-tooltip__close.mycal-button-focus {
  outline: 2px solid #fff;
  outline-offset: -4px;
  z-index: 1000 !important;
}
/* line 256, ../sass/modal-quick-tips.scss */
.mycal-tooltip__close:hover, .mycal-tooltip__close:active {
  text-decoration: underline;
}
@-webkit-keyframes fromleft {
  0% {
    right: -25em;
  }
  100% {
    right: 0;
  }
}
@keyframes fromleft {
  0% {
    right: -25em;
  }
  100% {
    right: 0;
  }
}
/* line 291, ../sass/modal-quick-tips.scss */
#js-tooltip-content,
#js-modal-content {
  padding: 20.8695652174px 27.6px;
}
/* line 296, ../sass/modal-quick-tips.scss */
#js-tooltip-content h2,
#js-modal-content h2 {
  font-size: 27.9841px;
  line-height: 36.501px;
}
/* line 300, ../sass/modal-quick-tips.scss */
#js-tooltip-content h3,
#js-modal-content h3 {
  font-size: 24.334px;
  line-height: 31.74px;
}
/* line 304, ../sass/modal-quick-tips.scss */
#js-tooltip-content h4,
#js-modal-content h4 {
  font-size: 21.16px;
  line-height: 27.6px;
}
/* line 308, ../sass/modal-quick-tips.scss */
#js-tooltip-content h5,
#js-modal-content h5 {
  font-size: 18.4px;
  line-height: 24px;
}
/* line 312, ../sass/modal-quick-tips.scss */
#js-tooltip-content h6,
#js-modal-content h6 {
  font-size: 16px;
  line-height: 24px;
}
/* line 317, ../sass/modal-quick-tips.scss */
#js-tooltip-content p, #js-tooltip-content ul, #js-tooltip-content ol, #js-tooltip-content dl, #js-tooltip-content table, #js-tooltip-content .mycal-table-wrapper, #js-tooltip-content img,
#js-modal-content p,
#js-modal-content ul,
#js-modal-content ol,
#js-modal-content dl,
#js-modal-content table,
#js-modal-content .mycal-table-wrapper,
#js-modal-content img {
  font-size: 13.9130434783px;
  line-height: 20.8695652174px;
}
/* line 320, ../sass/modal-quick-tips.scss */
* + #js-tooltip-content p, * + #js-tooltip-content ul, * + #js-tooltip-content ol, * + #js-tooltip-content dl, * + #js-tooltip-content table, * + #js-tooltip-content .mycal-table-wrapper, * + #js-tooltip-content img, * +
#js-modal-content p, * +
#js-modal-content ul, * +
#js-modal-content ol, * +
#js-modal-content dl, * +
#js-modal-content table, * +
#js-modal-content .mycal-table-wrapper, * +
#js-modal-content img {
  margin-top: 12px;
}
/* line 325, ../sass/modal-quick-tips.scss */
#js-tooltip-content li,
#js-modal-content li {
  margin-bottom: 12px;
  margin-left: 2em;
}
/* line 200, ../sass/modal-quick-tips.scss */
.mycal-tooltip-modal {
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 667;
  position: fixed;
  width: 25rem;
  max-width: 100%;
  font-size: 1em;
  border: 0;
  border-radius: 0;
  background: #f6f6f6;
  /* fallback IE9 */
  box-shadow: -5px 0 0 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
  text-align: left !important;
}
